In [1]:
# imports
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from math import exp

# allow plots to appear directly in the notebook
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_May_14.csv')

In [3]:
data.describe()

,ID,latitude,location_data_accuracy,longitude,average_image_size,bedroom,cat,dog,image_number,price,...,square_footage,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
count,3.076000e+03,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076,3076,3076.000000,3076.000000,...,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076,3076.000000,3076.000000,3076.000000,3076.000000
mean,4.984234e+09,30.585578,0.730169,-60.651097,213120.936281,2.061118,0,0,9.697009,1944.017880,...,1207.502463,9.850130,6.728869,0.997399,2.015605,0,1.365735,0.157997,0.607607,3.244148
std,1.154868e+07,15.942676,3.457620,31.613972,110118.397497,1.234268,0,0,7.893017,796.599139,...,525.660362,8.209095,7.000438,1.644105,3.758535,0,2.900269,0.488307,1.271755,4.940414
min,4.959352e+09,0.000000,0.000000,-78.269000,0.000000,0.000000,0,0,0.000000,2.000000,...,20.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000
25%,4.975371e+09,38.719200,0.000000,-77.121000,270000.000000,1.000000,0,0,3.000000,1500.000000,...,850.000000,1.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000
50%,4.985626e+09,38.855283,0.000000,-77.059200,270000.000000,2.000000,0,0,8.000000,1795.000000,...,1207.502463,9.000000,4.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,1.000000
75%,4.995176e+09,38.919865,0.000000,-76.852868,270000.000000,3.000000,0,0,15.000000,2200.000000,...,1344.000000,19.000000,13.000000,2.000000,3.000000,0,2.000000,0.000000,1.000000,4.000000
max,5.001980e+09,39.355737,22.000000,0.000000,270000.000000,6.000000,0,0,24.000000,9851.000000,...,10000.000000,20.000000,20.000000,9.000000,20.000000,0,18.000000,3.000000,6.000000,20.000000

In [5]:
#use numeric variables for sci-kit-learn
data = data[['average_image_size','bedroom','cat','dog','image_number','price','grocery_list',
             'gym_list','movie_theatre_list','train_station_list','airport_list','subway_station_list',
             'Barnes_and_Nobles_list','Deloitte_list','Starbucks_list','smoking']]

In [121]:
data.head(2)

,average_image_size,bedroom,cat,dog,image_number,price,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list,smokings
0,270000,2,0,0,18,1310,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,860,19,14,2,7,0,3,0,2,7,1

In [22]:
print len(data)

3076

In [19]:
### SCIKIT-LEARN ###

# create X and y

feature_cols = ['average_image_size','bedroom','cat','dog','image_number','grocery_list',
                'gym_list','movie_theatre_list','train_station_list','airport_list','subway_station_list',
                'Barnes_and_Nobles_list','Deloitte_list','Starbucks_list','smoking']

X = data[feature_cols]
y = data.price

# instantiate and fit
lm2 = LinearRegression()
lm2.fit(X, y)

# print the intercept
print lm2.intercept_

# pair the feature names with the coefficients
print zip(feature_cols, lm2.coef_)

# print the R-squared value for the model
print lm2.score(X, y)

997.209656962
[('average_image_size', 0.00057198444123304217), ('bedroom', 300.38254081203411), ('cat', 4.3383617462959642e-13), ('dog', -4.5471513183599272e-14), ('image_number', 5.5467612840644485), ('grocery_list', -17.629585113431702), ('gym_list', 24.986891661302462), ('movie_theatre_list', -15.768849475156269), ('train_station_list', 9.0953886049110722), ('airport_list', 9.217567351862051e-15), ('subway_station_list', -27.018021018066936), ('Barnes_and_Nobles_list', 8.1262714336662878), ('Deloitte_list', 49.566265567871042), ('Starbucks_list', 53.268959540851107), ('smoking', -23.74085381342125)]
0.300810391991

## Logistic Regression

In [20]:
# create X and y
feature_cols = ['average_image_size','bedroom','cat','dog','image_number','grocery_list',
                'gym_list','movie_theatre_list','train_station_list','airport_list','subway_station_list',
                'Barnes_and_Nobles_list','Deloitte_list','Starbucks_list','smoking']

X = data[feature_cols]
y = data.price

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2)

# Fit model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test) # Predict

# Access accuracy
print metrics.accuracy_score(y_test, y_pred)

0.243172951886

In [13]:
con_mat = metrics.confusion_matrix(y_test, y_pred)
print con_mat

[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]