In [ ]:
# questions and personal notes
#problems with reading this as $600 value for W/D - linear regression
#('w/d hookups', -358.55112862600521), ('w/d in unit', 323.94738691104828),

#Still need to remove (dummmy variable values that have only a few instances - e.g. only one person from city)

In [183]:
# imports
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer


# allow plots to appear directly in the notebook
import seaborn as sns
%matplotlib inline

In [184]:
data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_Final.csv')

In [185]:
data.describe()

,ID,latitude,location_data_accuracy,longitude,average_image_size,bathroom,bedroom,cat,dog,image_number,price,smoking,square_footage,grocery_list,gym_list,Posting_Time_AM_or_PM,Posting_Time,Posting_Day
count,7.401000e+03,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000,7401.000000
mean,5.000487e+09,29.949262,3.593974,-59.337285,227426.023510,1.469936,1.738954,0.601811,0.557492,8.266991,1885.734495,0.681394,1047.560705,9.915552,7.050399,0.671936,6.733398,9.181057
std,1.108438e+07,16.437997,6.975700,32.580154,98405.988713,0.829976,1.135047,0.489558,0.496717,6.433742,811.608613,0.465967,526.876057,8.136573,7.418150,0.469540,3.708672,10.233843
min,4.959352e+09,-85.050342,0.000000,-96.045800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,20.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,4.997966e+09,38.692900,0.000000,-77.119603,270000.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1395.000000,0.000000,775.000000,1.000000,0.000000,0.000000,3.320000,2.000000
50%,5.006147e+09,38.882120,0.000000,-77.043592,270000.000000,1.000000,2.000000,1.000000,1.000000,7.000000,1715.000000,1.000000,1047.560705,10.000000,4.000000,1.000000,6.550000,3.000000
75%,5.007481e+09,38.944758,5.000000,-76.843400,270000.000000,2.000000,2.000000,1.000000,1.000000,12.000000,2200.000000,1.000000,1100.000000,19.000000,13.000000,1.000000,10.190000,18.000000
max,5.008243e+09,41.333300,22.000000,179.992769,270000.000000,8.000000,6.000000,1.000000,1.000000,24.000000,9851.000000,1.000000,18711.000000,20.000000,20.000000,1.000000,12.590000,30.000000

In [186]:
# Transform categorical fields to numeric for scikit-learn 

data.country = np.where(data.country == 'US',1,0)
data.availability = np.where(data.availability == 'available now',1,0)

In [187]:
# Create dummy variables

data = pd.concat([data, pd.get_dummies(data.housing_type)], axis=1)
data = pd.concat([data, pd.get_dummies(data.laundry)], axis=1)
data = pd.concat([data, pd.get_dummies(data.parking)], axis=1)
data = pd.concat([data, pd.get_dummies(data.city)], axis=1)
data = pd.concat([data, pd.get_dummies(data.state)], axis=1)

data[0:1]

,ID,city,country,latitude,location_data_accuracy,longitude,state,availability,average_image_size,bathroom,...,ridge,seneca,spring,springs,springwheaton,station,tysons%2c,va,village,washington
0,4959351766,NaN,0,0,0,0,NaN,1,270000,1,...,0,0,0,0,0,0,0,0,0,0

In [189]:
feature_cols = [
'latitude',
'longitude',
'bathroom',
'bedroom',
'image_number',
'square_footage',    
'grocery_list',
'gym_list',
'dc',    
'attached garage',
'off-street parking',
'street parking', 
#'cat',
#'dog',    
'Posting_Time_AM_or_PM',
'Posting_Time',
'Posting_Day' 
]

## Train Test Split

In [190]:
# create X and y
X = data[feature_cols]
y = data.price

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

## Linear Regression

In [191]:
### SCIKIT-LEARN ###

# instantiate and fit
lm2 = LinearRegression()
lm2.fit(X_train, y_train)

y_pred = lm2.predict(X_test) # Predict
# print the intercept
#print lm2.intercept_

# pair the feature names with the coefficients
#print zip(feature_cols, lm2.coef_)

# Access accuracy
y_pred = [int(y) for y in y_pred]
y_test = [int(y) for y in y_test]

print metrics.accuracy_score(y_test, y_pred)

0.000540248514317

## Logistic Regression

In [117]:
# Fit model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test) # Predict

# Access accuracy
print metrics.accuracy_score(y_test, y_pred)

0.116153430578

In [89]:
# Create a Confusion Matrix

con_mat = metrics.confusion_matrix(y_test, y_pred)
print con_mat

[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]

In [ ]:
##Random Forest

In [193]:
# import class, instantiate estimator, fit with all data
rfclf = RandomForestClassifier(n_estimators=20, max_features=5, oob_score=True, random_state=1)
rfclf.fit(X_train, y_train)

# compute the out-of-bag classification accuracy
print rfclf.oob_score_
print len(feature_cols)
print len(rfclf.feature_importances_)

0.298918918919
16
16

In [194]:
# compute the feature importances
Feature_Importance = pd.DataFrame({'feature':feature_cols, 'importance':rfclf.feature_importances_})
Feature_Importance.sort('importance', ascending=False)

                  feature  importance
14           Posting_Time    0.160480
5          square_footage    0.143775
4            image_number    0.110368
1               longitude    0.108933
0                latitude    0.099666
15            Posting_Day    0.091264
7                gym_list    0.059493
6            grocery_list    0.055660
3                 bedroom    0.043187
2                bathroom    0.037826
13  Posting_Time_AM_or_PM    0.026079
11     off-street parking    0.020202
9                      dc    0.019335
12         street parking    0.012880
10        attached garage    0.010850
8         State_Arlington    0.000000

##Naive Bayes

In [195]:
#Create Train Test split for text data (listing description)

naive_bayes_feature_cols = 'description'

# create X and y
X = data[naive_bayes_feature_cols]
y = data.price

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [196]:
# COUNTVECTORIZER: 'convert text into a matrix of token counts'
# instantiate the vectorizer
vect = CountVectorizer()

# learn vocabulary and create document-term matrix in a single step
train_dtm = vect.fit_transform(X_train)
train_dtm

# transform testing data into a document-term matrix
test_dtm = vect.transform(X_test)
test_dtm

# store feature names and examine them
train_features = vect.get_feature_names()
len(train_features)
train_features[:50]
train_features[-50:]

# convert train_dtm to a regular array
train_arr = train_dtm.toarray()
train_arr

# examine the vocabulary and document-term matrix together
pd.DataFrame(train_dtm.toarray(), columns=vect.get_feature_names()).head()

,00,000,0009,000pets,001114,001255887315,001368910757,002,004,005,...,zumba,zy,zyq9z,zz,¼gather,área,â¼,â½,über,ýntelligence
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [197]:
nb = MultinomialNB()
nb.fit(train_dtm, y_train)

# make predictions on test data using test_dtm
y_pred = nb.predict(test_dtm)
y_pred

# compare predictions to true labels
print metrics.accuracy_score(y_test, y_pred)
#print metrics.confusion_matrix(y_test, y_pred)

0.227984873042