In [ ]:
#Questions
#Should I bin the Google Places data?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
Listing_data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_May_13.csv')

In [4]:
print Listing_data.columns

Index([u'ID', u'city', u'country', u'latitude', u'location_data_accuracy', u'longitude', u'state', u'availability', u'average_image_size', u'bathroom', u'bedroom', u'cat', u'date_available', u'description', u'dog', u'housing_type', u'image_number', u'laundry', u'parking', u'price', u'smoking', u'square_footage', u'time_of_posting', u'url'], dtype='object')

In [5]:
Listing_data[0:2]

,ID,city,country,latitude,location_data_accuracy,longitude,state,availability,average_image_size,bathroom,...,dog,housing_type,image_number,laundry,parking,price,smoking,square_footage,time_of_posting,url
0,4959351766,NaN,NaN,NaN,NaN,NaN,NaN,available now,270000,1,...,NaN,condo,18,NaN,NaN,$1310,NaN,NaN,2015-04-01 2:44pm,http://washingtondc.craigslist.org/mld/apa/495...
1,4959370650,Alexandria,US,38.806,22,-77.0529,DC,available now,0,NaN,...,dogs are OK - wooof,house,0,NaN,attached garage,$860,NaN,NaN,2015-04-01 2:55pm,http://washingtondc.craigslist.org/mld/apa/495...

In [24]:
Google_Places_data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\GooglePlacesAPI_May_13_part2.csv')

In [25]:
Google_Places_data[0:2]

,ID,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
0,4989192754,20,20,6,12,0,11,2,6,20
1,4989207677,20,3,1,1,0,1,0,0,2

In [13]:
data = pd.merge(Listing_data, Google_Places_data, how='outer')

In [14]:
data.head(2)

,ID,city,country,latitude,location_data_accuracy,longitude,state,availability,average_image_size,bathroom,...,url,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
0,4959351766,NaN,NaN,NaN,NaN,NaN,NaN,available now,270000,1,...,http://washingtondc.craigslist.org/mld/apa/495...,0,0,0,0,0,0,0,0,0
1,4959370650,Alexandria,US,38.806,22,-77.0529,DC,available now,0,NaN,...,http://washingtondc.craigslist.org/mld/apa/495...,19,14,2,7,0,3,0,2,7

## Data Cleaning

In [15]:
#Covert animals and smoking variables to numeric (1 = allowed; 0 = not allowed)

data['dog'] = [1 if dog == 'dogs are OK - wooof' else 0 for dog in data.dog]
data['cat'] = [1 if cat == 'cats are OK - purrr' else 0 for cat in data.cat]
#smoking is not a good metric due to mass of NaN values
data['smokings'] = [0 if smoking == 'no smoking' else 1 for smoking in data.smoking]

In [16]:
#Clean up mispelled cities
print sorted(set(data.city))

data.city = [str(city).lower() for city in data.city]
data.city = [str(city).replace('%2c','') for city in data.city]
data.city = [str(city).replace('%2d','') for city in data.city]
data.city = [str(city).replace('%2e','') for city in data.city]
data.city = [str(city).replace('%2f','') for city in data.city]
data.city = [str(city).replace('%21','') for city in data.city]

data.city[data.city == 'aleandria'] = 'Alexandria'

data.city[data.city == 'anandale'] = 'annandale'

data.city[data.city == 'arliington'] = 'arlington'
data.city[data.city == 'arlilngton'] = 'arlington'

data.city[data.city == 'aspin'] = 'aspen'

data.city[data.city == 'betheda'] = 'bethesda'

data.city[data.city == 'hyattsvile'] = 'hyattsville'
data.city[data.city == 'hyattsvelle'] = 'hyattsville'
data.city[data.city == 'hyatsville'] = 'hyattsville'

data.city[data.city == 'w'] = 'washingtondc'
data.city[data.city == 'wahsington'] = 'washingtondc'
data.city[data.city == 'wash'] = 'washingtondc'
data.city[data.city == 'washigton'] = 'washingtondc'
data.city[data.city == 'washingon'] = 'washingtondc'
data.city[data.city == 'washinnton'] = 'washingtondc'
data.city[data.city == 'washinton'] = 'washingtondc'
data.city[data.city == 'washiongton'] = 'washingtondc'
data.city[data.city == 'dc'] = 'washingtondc'
data.city[data.city == 'district'] = 'washingtondc'
data.city[data.city == 'washington'] = 'washingtondc'

data.city[data.city == 'woodbrige'] = 'woodbridge'

data.city[data.city ==  'forstville'] = 'forestville'

data.city[data.city ==  'gathersburg'] = 'gaithersburg'

data.city[data.city ==  'germatnown'] = 'germantown'

data.city[data.city == 'springfiel'] = 'springfield'
data.city[data.city == 'rockvillenorth'] = 'rockville'
data.city[data.city == 'nw'] = 'northwest'
data.city[data.city == 'norht'] = 'north'
data.city[data.city == 'mt'] = 'mount'

c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[nan, 'ADELPHI', 'ALDIE', 'ALEXANDRIA', 'ANNANDALE', 'ARLINGTON', 'Aldie', 'Aleandria', 'Alexandria', 'Alexandria%2C', 'Annandale', 'Annapolis', 'Arliington', 'Arlilngton', 'Arlington', 'Ashburn', 'Aspen', 'BELTSVILLE', 'BETHESDA', 'BURKE', 'BURTONSVILLE', 'Baltimore', 'Belmont', 'Beltsville', 'Beltsville%2C', 'Berwyn', 'Bethesda', 'Bladensburg', 'Bowie', 'Brambleton', 'Broadlands', 'Burke', 'CAPITOL', 'CENTREVILLE', 'CHEVY', 'Camp', 'Campsprings', 'Capitol', 'Centreville', 'Chantilly', 'Chesapeake', 'Cheverly', 'Chevy', 'Clarksburg', 'Clinton', 'College', 'Columbia', 'Crofton', 'DC', 'Dale', 'Damascus', 'Derwood', 'District', 'Dulles', 'Dumfries', 'Dumfries%2C', 'Elkridge', 'Elkton', 'FALLS', 'Fairfax', 'Falls', 'Forestville', 'Forstville', 'Fort', 'Frederick', 'Fredericksburg', 'GAITHERSBURG', 'GERMANTOWN', 'GREENBELT', 'Gainesville', 'Gaithersburg', 'Gathersburg', 'Germantown', 'Germatnown', 'Great', 'Greenbelt', 'HERNDON', 'HYATTSVILLE', 'Hamilton', 'Harpers', 'Haymarket', 'Herndon', 'Highland', 'Hyatsville', 'Hyattsvile', 'Hyattsville', 'Kensington', 'Kentlands', 'LAUREL', 'Lake', 'Landover', 'Largo', 'Laurel', 'Laytonsville', 'Leesburg', 'Lorton', 'MANASSAS', 'MCLEAN', 'MONTGOMERY', 'Manassas', 'McLean', 'McLean%21', 'McLean%2C', 'Mclean', 'Middleburg', 'Montgomery', 'Mount', 'Mt', 'N%2E', 'N%2Eorth', 'NORTH', 'NW', 'NW%2C', 'New', 'Norht', 'North', 'Northeast', 'Oak', 'Oakton', 'Occoquan', 'Odenton', 'Olney', 'Oxon', 'PORT', 'Potomac', 'Quantico', 'RESTON', 'ROCKVILLE', 'Reston', 'Riverdale', 'Rockville', 'Rockville%2FNorth', 'Rosslyn', 'SAVAGE', 'SILVER', 'Savage', 'Seabrook', 'Seat', 'Shirlington', 'Silver', 'Solver', 'Springfield', 'St%2E', 'Stafford', 'Stafford%2C', 'Stephenson', 'Sterling', 'Stone', 'Suitland', 'TAKOMA', 'TYSONS', 'Takoma', 'Temple', 'Triangle', 'Tysons', 'UPPER', 'Upper', 'Vienna', 'W', 'WARRENTON', 'WASHIGTON', 'WASHINGTON', 'WOODBRIDGE', 'Wahsington', 'Waldorf', 'Warrenton', 'Wash', 'Washingon', 'Washington', 'Washington%2C', 'Washinnton', 'Washinton', 'Washiongton', 'West', 'Wheaton', 'Woodbridge', 'Woodbrige', 'aldie', 'alexandria', 'anandale', 'arlington', 'aspin', 'baltimore', 'betheda', 'bethesda', 'burke', 'burtonsville', 'cascades%2DSterling', 'centreville', 'college', 'columbia', 'dale', 'damascus', 'fairfax', 'falls', 'frederick', 'gaithersburg', 'germantown', 'greenbelt', 'hyattsvelle', 'hyattsville', 'landover', 'laurel', 'leesburg', 'lorton', 'manassas', 'mclean', 'montgomery', 'northwest', 'oakton', 'odenton', 'olney', 'potomac', 'reston', 'rockville', 'rosslyn', 'silver', 'springfiel', 'ss', 'sterling', 'towson', 'upper', 'vienna', 'wASHINGTON', 'washington', 'washington%2C', 'woodbridge']

c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
#Clean up the Price Field

# Remove listings that do not have a listed price
data['price_to_keep'] = [price[0] for price in data.price]
data = data[data.price_to_keep == '$']
data.drop('price_to_keep', axis=1, inplace = True)

# Remove dollar symbol from price to change string to integer
data.price = [int(price.replace('$','')) for price in data.price]

# Remove outliers - possible data input mistakes from users
data = data[data.price < 10000]

# Remove listings with price listed as $1
#I hypothisize that this is to show up at the top when a user sorts by price
data = data[data.price > 1]

## Data Exploration

In [23]:
data.describe()

,ID,latitude,location_data_accuracy,longitude,average_image_size,bedroom,cat,dog,image_number,price,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list,smokings
count,6.708000e+03,5173.000000,5173.000000,5173.000000,6708.000000,6704.000000,6708.000000,6708.000000,6708.000000,6708.000000,1159.000000,1159.000000,1159.000000,1159.000000,1159,1159.000000,1159.000000,1159.000000,1159.000000,6708.000000
mean,4.999995e+09,38.902680,4.559637,-77.061493,225442.754919,1.725089,0.598092,0.549195,8.041890,1880.330203,9.849008,7.011217,1.094909,2.132010,0,1.496980,0.198447,0.723900,3.468507,0.687835
std,1.143734e+07,1.729587,7.541723,3.588952,100232.758057,1.143340,0.490320,0.497611,6.282467,831.514556,8.280623,7.237929,1.706829,3.723473,0,2.967256,0.537342,1.396284,5.167204,0.463411
min,4.959352e+09,-85.050342,0.000000,-96.045800,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.996762e+09,38.864229,0.000000,-77.154408,270000.000000,1.000000,0.000000,0.000000,4.000000,1385.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.005892e+09,38.912600,0.000000,-77.068825,270000.000000,2.000000,1.000000,1.000000,7.000000,1720.000000,9.000000,4.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,1.000000,1.000000
75%,5.006973e+09,38.991485,10.000000,-77.027035,270000.000000,2.000000,1.000000,1.000000,12.000000,2199.000000,20.000000,14.000000,2.000000,3.000000,0,2.000000,0.000000,1.000000,5.000000,1.000000
max,5.008243e+09,41.333300,22.000000,179.992769,270000.000000,6.000000,1.000000,1.000000,24.000000,9851.000000,20.000000,20.000000,9.000000,20.000000,0,18.000000,3.000000,6.000000,20.000000,1.000000

In [22]:
data.to_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_May_13.csv', index=False)