In [ ]:
# questions and personal notes
#problems with reading this as $600 value for W/D - linear regression
#('w/d hookups', -358.55112862600521), ('w/d in unit', 323.94738691104828),

In [1]:
# imports
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer


# allow plots to appear directly in the notebook
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_Final.csv')

In [3]:
data.describe()

,ID,latitude,location_data_accuracy,longitude,average_image_size,bathroom,bedroom,cat,dog,image_number,price,smoking,square_footage,grocery_list,gym_list,square_footage_cleaned,Posting_Time_AM_or_PM,Posting_Time,Posting_Day
count,3.720000e+03,3720.000000,3720.000000,3720.000000,3720,3720.000000,3720.000000,3720.000000,3720.000000,3720.000000,3720.000000,3720.00000,3720.000000,3720.000000,3720.000000,3720.000000,3720.000000,3720.000000,3720.000000
mean,5.001400e+09,31.771738,3.658065,-62.930241,270000,1.522312,1.809140,0.678495,0.613978,9.654032,2003.044624,0.67043,1062.104301,10.727957,7.439516,1062.104301,0.665323,6.754309,8.678495
std,1.011508e+07,15.179259,6.781994,30.092526,0,0.708749,0.904782,0.467117,0.486901,5.408799,806.355770,0.47012,551.227510,7.931047,7.360907,551.227510,0.471941,3.775681,10.118888
min,4.960123e+09,-85.050342,0.000000,-96.045800,270000,1.000000,1.000000,0.000000,0.000000,2.000000,129.000000,0.00000,58.000000,0.000000,0.000000,58.000000,0.000000,1.000000,1.000000
25%,5.000533e+09,38.803536,0.000000,-77.120400,270000,1.000000,1.000000,0.000000,0.000000,6.000000,1485.000000,0.00000,750.000000,3.000000,1.000000,750.000000,0.000000,3.280000,2.000000
50%,5.006239e+09,38.895876,0.000000,-77.050799,270000,1.000000,2.000000,1.000000,1.000000,9.000000,1800.000000,1.00000,930.000000,12.000000,5.000000,930.000000,1.000000,6.315000,3.000000
75%,5.007170e+09,38.971525,5.000000,-76.918247,270000,2.000000,2.000000,1.000000,1.000000,13.000000,2300.000000,1.00000,1160.000000,20.000000,14.000000,1160.000000,1.000000,10.310000,16.000000
max,5.008229e+09,41.333300,22.000000,179.992769,270000,5.500000,6.000000,1.000000,1.000000,24.000000,8142.000000,1.00000,9000.000000,20.000000,20.000000,9000.000000,1.000000,12.590000,30.000000

In [4]:
# Transform categorical fields to numeric for scikit-learn 

data.country = np.where(data.country == 'US',1,0)
data.availability = np.where(data.availability == 'available now',1,0)

In [5]:
# Create dummy variables

data = pd.concat([data, pd.get_dummies(data.housing_type)], axis=1)
data = pd.concat([data, pd.get_dummies(data.laundry)], axis=1)
data = pd.concat([data, pd.get_dummies(data.parking)], axis=1)
data = pd.concat([data, pd.get_dummies(data.city)], axis=1)
data = pd.concat([data, pd.get_dummies(data.state)], axis=1)

data[0:1]

,ID,city,country,latitude,location_data_accuracy,longitude,state,availability,average_image_size,bathroom,...,pleasant,rainier,ridge,seneca,spring,springs,tysons%2c,va,village,washington
0,4960122664,washingtondc,1,38.904593,0,-77.053127,dc,1,270000,2,...,0,0,0,0,0,0,0,0,0,0

In [6]:
feature_cols = [
'latitude',
'longitude',
'bathroom',
'bedroom',
'image_number',
#'square_footage', 
'square_footage_cleaned',
'grocery_list',
'gym_list',
'dc',    
'attached garage',
'off-street parking',
'street parking',     
'Posting_Time_AM_or_PM',
'Posting_Time',
'Posting_Day' 
]

## Train Test Split

In [7]:
# create X and y
X = data[feature_cols]
y = data.price

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

## Linear Regression

In [8]:
### SCIKIT-LEARN ###

# instantiate and fit
lm2 = LinearRegression()
lm2.fit(X_train, y_train)

y_pred = lm2.predict(X_test) # Predict
# print the intercept
#print lm2.intercept_

# pair the feature names with the coefficients
#print zip(feature_cols, lm2.coef_)

# Access accuracy
y_pred = [int(y) for y in y_pred]
y_test = [int(y) for y in y_test]

print metrics.accuracy_score(y_test, y_pred)

0.0

## Logistic Regression

In [117]:
# Fit model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test) # Predict

# Access accuracy
print metrics.accuracy_score(y_test, y_pred)

0.116153430578

In [89]:
# Create a Confusion Matrix

con_mat = metrics.confusion_matrix(y_test, y_pred)
print con_mat

[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]

In [ ]:
##Random Forest

In [9]:
# import class, instantiate estimator, fit with all data
rfclf = RandomForestClassifier(n_estimators=20, max_features=5, oob_score=True, random_state=1)
rfclf.fit(X_train, y_train)

# compute the out-of-bag classification accuracy
print rfclf.oob_score_
print len(feature_cols)
print len(rfclf.feature_importances_)

0.168817204301
15
15

In [10]:
# compute the feature importances
Feature_Importance = pd.DataFrame({'feature':feature_cols, 'importance':rfclf.feature_importances_})
Feature_Importance.sort('importance', ascending=False)

                   feature  importance
5   square_footage_cleaned    0.160744
13            Posting_Time    0.150127
4             image_number    0.110021
1                longitude    0.108278
0                 latitude    0.108231
14             Posting_Day    0.085146
7                 gym_list    0.062560
6             grocery_list    0.057624
2                 bathroom    0.034559
3                  bedroom    0.034340
12   Posting_Time_AM_or_PM    0.025595
8                       dc    0.020889
10      off-street parking    0.016575
9          attached garage    0.016561
11          street parking    0.008750

##Naive Bayes

In [195]:
#Create Train Test split for text data (listing description)

naive_bayes_feature_cols = 'description'

# create X and y
X = data[naive_bayes_feature_cols]
y = data.price

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [196]:
# COUNTVECTORIZER: 'convert text into a matrix of token counts'
# instantiate the vectorizer
vect = CountVectorizer()

# learn vocabulary and create document-term matrix in a single step
train_dtm = vect.fit_transform(X_train)
train_dtm

# transform testing data into a document-term matrix
test_dtm = vect.transform(X_test)
test_dtm

# store feature names and examine them
train_features = vect.get_feature_names()
len(train_features)
train_features[:50]
train_features[-50:]

# convert train_dtm to a regular array
train_arr = train_dtm.toarray()
train_arr

# examine the vocabulary and document-term matrix together
pd.DataFrame(train_dtm.toarray(), columns=vect.get_feature_names()).head()

,00,000,0009,000pets,001114,001255887315,001368910757,002,004,005,...,zumba,zy,zyq9z,zz,¼gather,área,â¼,â½,über,ýntelligence
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [197]:
nb = MultinomialNB()
nb.fit(train_dtm, y_train)

# make predictions on test data using test_dtm
y_pred = nb.predict(test_dtm)
y_pred

# compare predictions to true labels
print metrics.accuracy_score(y_test, y_pred)
#print metrics.confusion_matrix(y_test, y_pred)

0.227984873042